<form method="POST" action="/pets/<%= @pet.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @pet.name %>"
  />

  <label for="dob-field">D.O.B:</label>
  <input
  type="text"
  name="dob"
  id="dob-field"
  value="<%= @pet.dob %>"
  />

  <label for="type-field">Type of animal:</label>
  <input
  type="text"
  name="type_of_animal"
  id="type-field"
  value="<%= @pet.type_of_animal %>"
  />



  <label for="treatment-field">Treatment Notes:</label>
  <input
  type="text"
  name="treatment_notes"
  id="treatment-field"
  value="<%= @pet.treatment_notes %>"
  />

  <div class="form-el">
      <label for="vet-select">Select Vet:</label>
      <select name="vet_id" id="vet-select" selected="<%= @pet.vet_id %>">
        <% @vets.each do |vet| %>
          <% if vet.id == @pet.vet_id %>
            <option value=<%= vet.id %> selected><%= vet.name %></option>
          <% else %>
            <option value=<%= vet.id %>><%= vet.name%></option>
          <% end %>
        <% end %>
      </select>
    </div>


  <input type='submit' value="Edit Pet">
</form>
