<p>Name: <%= @pet.name%></p>
<p>D.O.B: <%= @pet.dob%></p>
<p>Type of animal: <%= @pet.type_of_animal%></p>
<p>Contact Details: <%= @pet.contact_details%></p>
<p>Treatment Notes: <%= @pet.treatment_notes%></p>
<p>Vet:<%= @pet.vet.name%></p>
<p><a href="/pets/<%=@pet.id%>/edit">Edit Pet</a></p>
<form action="/pets/<%=@pet.id%>/delete" method="post">
   <input type="submit" value="Delete Pet"/>
</form>
<hr />
