<p>ID: <%= @consultation.id%></p>
<p>Consultation time: <%= @consultation.consultation_time%></p>
<p>Treatment: <%= @consultation.treatment %></p>
<% @pets.each do |pet| %>
<% if pet.consultation_id == @consultation.id %>
<p>Pet:<a href="/pets/<%=pet.id%>"><%=pet.name%></a></p>
<% end %>
<% end %>
<% @vets.each do |vet| %>
<% if vet.consultation_id == @consultation.id %>
<p>Vet:<a href="/vets/<%=vet.id%>"><%=vet.name%></a></p>
<%end%>
<% end %>

<p><a href="/consultation/<%=@consultation.id%>/edit">Edit Consultation</a></p>
<form action="/consultation/<%=@consultation.id%>/delete" method="post">
  <input type="submit" value="Delete Consultation"/>
</form>
<hr />
