<p>ID: <%= @consultation.id%></p>
<p>Consultation time: <%= @consultation.consultation_time%></p>
<p>Treatment: <%= @consultation.treatment %></p>
<% @pets.each do |pet| %>
<p>Pet:<a href="/pets/<%=pet.id%>"><%=pet.name%></a></p>
<% end %>


<p><a href="/consultation/<%=@consultation.id%>/edit">Edit Consultation</a></p>
<form action="/consultation/<%=@consultation.id%>/delete" method="post">
  <input type="submit" value="Delete Consultation"/>
</form>
<hr />
