<form method="POST" action="/customer/<%= @customer.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @customer.name %>"
  />

  <label for="appointment-field">Appointment time:</label>
  <input
  type="text"
  name="appointment"
  id="appointment-field"
  value="<%= @customer.appointment %>"
  />


  <label for="select-pet">Select a Pet:</label>
  <select name="pet_id" id="pet-selection">
    <option hidden value="default">Select A Pet</option>
    <option
    value="1"
    <%= "selected" if @customer.pet.name == "Billy" %>
    >Billy</option>
    <option
    value="2"
    <%= "selected" if @customer.pet.name == "Tiddles" %>
    >Tiddles</option>
  </select>

  <input type='submit' value="Edit Customer">
</form>
