<form method="POST" action="/customer/<%= @customer.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @customer.name %>"
  />

  <label for="appointment-field">Appointment time:</label>
  <input
  type="text"
  name="appointment"
  id="appointment-field"
  value="<%= @customer.appointment %>"
  />
<!-- This is giving a foreign key constraint -->
  <div class="form-el">
      <label for="pet-select">Select Pet:</label>
      <select name="pet_select" id="pet-select" selected="<%= @customer.pet_id %>">
        <% @pets.each do |pet| %>
          <% if pet.id == @customer.pet_id %>
            <option value=<%= pet.id %> selected><%= pet.name %></option>
          <% else %>
            <option value=<%= pet.id %>><%= pet.name%></option>
          <% end %>
        <% end %>
      </select>
    </div>

  <input type='submit' value="Edit Customer">
</form>
