<p>Name: <%= @customer.name%></p>
<p>Contact Details: <%= @customer.contact_details %></p>
<% @pets.each do |pet| %>
<% if pet.customer_id == @customer.id %>
<p>Pet:<a href="/pets/<%=pet.id%>"><%=pet.name%></a></p>
<% end %>
<% end %>

<p><a href="/customer/<%=@customer.id%>/edit">Edit Customer</a></p>
<form action="/customer/<%=@customer.id%>/delete" method="post">
  <input type="submit" value="Delete Customer"/>
</form>
<hr />
