<p>Name: <%= @customer.name%></p>
<p>Appointment time: <%= @customer.appointment%></p>
<p>Contact Details: <%= @customer.contact_details %></p>
<% @pets.each do |pet| %>
<% if pet.customer_id == @customer.id %>
<p>Pets: <%= pet.name%> </p>
<% end %>
<% end %>
<p><a href="/customer/<%=@customer.id%>/edit">Edit Customer</a></p>
<form action="/customer/<%=@customer.id%>/delete" method="post">
  <input type="submit" value="Delete Customer"/>
</form>
<hr />
