<p>Name: <%= @pet.name%></p>
<p>D.O.B: <%= @pet.dob%></p>
<p>Type of animal: <%= @pet.type_of_animal%></p>
<p>Treatment Notes: <%= @pet.treatment_notes%></p>
<p>Vet:<a href="/vets/<%=@pet.vet_id%>"><%= @pet.vet.name%></a></p>
<p>Customer:<a href="/customer/<%=@pet.customer_id%>"><%= @pet.customer.name%></a></p>
<p> <a href="/consultation/<%=@pet.consultation_id%>">Consultation time</a></p>
<p><a href="/pets/<%=@pet.id%>/edit">Edit Pet</a></p>
<form action="/pets/<%=@pet.id%>/delete" method="post">
<input type="submit" value="Delete Pet"/>
</form>
<hr />
